
/* Nav Bar Section */

.navbar{
  background-color: CornflowerBlue;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;

}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;

}

/* Homepage section */

.top-container{
  background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;


}

.middle-container{
  margin:auto;
  background-color: CornflowerBlue;
  padding: 10% 5%;
}

.bottom-container{
  background-color: Gold;
  position: relative;

  line-height: 4;
  padding-top: 50px;
  padding-bottom: 10px;
}

.IntroTitle{
  margin: 50px auto 0 auto;
  font-size: 6.625rem;
  color: white;
  line-height: 2;
  font-family: 'Dancing Script', cursive;
}

.SecondTitle{
  font-size: 2.5rem;
  font-weight:normal;
  color: CornflowerBlue;
  padding-bottom: 10px;
}

.ThirdTitle{
  color: #11999E;
}




.frontPage{

  background:url("https://img.peapix.com/21182358f47c478eba236f86ea113fb3_UHD.jpg");
  background-size: contain;
  padding-bottom: 30%;

}

.LosAngelesSummer{
  border-radius: 40%;
  padding: 5%;
  height: 50%;
  width: 50%;

}


/* General Style Setting */
a{
  color: #2F4F4F;
  margin:1%;
  text-decoration: none;
  font-size: 1rem;
}

a:hover{
  color: #EAF6F6;
}

body{
  color: Maroon;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

hr{
 border-color: #EAF6F6;
 border-style: none;
 border-top-style: dotted;
 border-width: 5px;
 width: 5%;
 margin:100px auto;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
}

p{
    line-height: 2;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}


/* Adventure Section */

.RoadTrip{
  width: 100%;
}

.StatesFlags{
  padding-top: 10%;
  padding-bottom:10%;
  background-color: #4C4C6D;
}


.skill-row{
  width: 40%;
  margin:100px auto 100px auto;
  text-align: left;

}

.skillPic{
  width:25%;
  float: left;
  margin-right: 30px;
}

.advPic{
  width:25%;
  float: right;
  margin-left: 30px;
}

.graImg{
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Skill page */
.codeTitle{
    background-color:#20B2AA;
    padding-top: 10%;
    padding-bottom: 10%;
}

/* Skill page set */
.skillPh{
  margin:5%;
}

.SkillText{
  margin-top: 10%;
  color:CornflowerBlue;
}

.skillTitle{
  color: CornflowerBlue;
  padding:5%;
}

.IntroSkill{
  background-color: #4C4C6D;
}

/*Game page setting*/
.

/* contactInfo Page */
.contactForm{

  background:url("https://img.peapix.com/e28b169ad7344ec6ac13a891860fc039_UHD.jpg");
  background-size: cover;
  padding-bottom: 30%;
  
}

.contact-form{

  background: rgba(176,196,222,0.5);
  padding: 5%;
  box-shadow: 0 0 10px 3px grey;
  max-width: 40%;
}

.contactTitle{
  font-family: 'Roboto Slab', serif;
}

.form-group{
  padding: 1%;
}

/* Footer Section */
.CopyRight{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 40px;
  margin: 0;

}
